$blue = #2B6AFD
$blue1 = #2680EB
$red = #F5222D
$orange = #F2994A
$purple = #A35DD7
$green = #52C41A
$black26 = #262626
$black59 = #595959
$gray8c = #8C8C8C
$graybf = #BFBFBF
$grayd9 = #D9D9D9
$graye8 = #E8E8E8
$white = #FFFFFF
$border = #E8E8E8
$basebg = #F5F5F5