<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruijie.cloud.dc.privilege.mapper.RoleNamespaceMapper">
    <resultMap id="BaseResultMap" type="com.ruijie.cloud.dc.privilege.entity.business.RoleNamespace" >
    	<id column="id" property="id" jdbcType="INTEGER" />
    	<result column="role_id" property="roleId" jdbcType="VARCHAR" />
    	<result column="namespace" property="namespace" jdbcType="VARCHAR" />
    </resultMap>
			
	<sql id="BASE_SQL">
		role_id, namespace
	</sql>
	
    <select id="selectByRoleId" parameterType="map" resultMap="BaseResultMap">
        select 
        	<include refid="BASE_SQL" />
        from privilege_role_namespace
        where `system` = #{system}
       	 	and role_id = #{roleId}
    </select>

    <select id="selectByRoleAndNamespace" parameterType="map" resultMap="BaseResultMap">
        select 
        	<include refid="BASE_SQL" />
        from privilege_role_namespace 
        where `system` = #{system}
        	and role_id = #{roleId}
        	and namespace = #{namespace}
    </select>
    
    <insert id="insert" parameterType="map">
       insert into privilege_role_namespace 
       (	
       		`system`, 
       		role_id, 
       		namespace
       	) values (
       		#{system}, 
       		#{roleId}, 
       		#{namespace}
       	)
    </insert>
    
    <delete id="deleteByRoleId" parameterType="map">
    	delete from privilege_role_namespace
        where `system` = #{system}
        and role_id = #{roleId}
    </delete>
    
    <delete id="deleteByRoleAndNamespace" parameterType="map">
    	delete from privilege_role_namespace
        where `system` = #{system}
        	and role_id = #{roleId}
        	and namespace = #{namespace}
    </delete>
    
</mapper>